/StarTrinity.ContinuousSpeedTest.CLI/StarTrinity.ContinuousSpeedTest.CLI.Publish.csproj
/.vs/Dcomms/v15
/Dcomms.Core/bin
/Dcomms.Core/obj
/Dcomms.SUBT/bin
/Dcomms.SUBT/obj/Debug/netstandard2.0
/Dcomms.SUBT/obj/Release/netstandard2.0
/Dcomms.SUBT/obj/Dcomms.SUBT.csproj.nuget.g.targets
/Dcomms.SUBT/obj/Dcomms.SUBT.csproj.nuget.g.props
/Dcomms.SUBT/obj/Dcomms.SUBT.csproj.nuget.cache
/Dcomms.SUBT/obj
/StarTrinity.ContinuousSpeedTest/bin
/StarTrinity.ContinuousSpeedTest/obj/Debug
/StarTrinity.ContinuousSpeedTest/obj/Release
/StarTrinity.ContinuousSpeedTest.CLI/bin
/StarTrinity.ContinuousSpeedTest.CLI/obj/Debug/netcoreapp2.2
/StarTrinity.ContinuousSpeedTest.CLI/obj/Release/netcoreapp2.2
/StarTrinity.ContinuousSpeedTest.CLI/obj
/StarTrinity.CST/StarTrinity.CST/bin/Release/netstandard2.0
/StarTrinity.CST/StarTrinity.CST/obj
/StarTrinity.CST/StarTrinity.CST.Android/bin/Release
/StarTrinity.CST/StarTrinity.CST.Android/obj
/StarTrinity.CST/StarTrinity.CST.iOS/obj
/StarTrinity.CST/StarTrinity.CST.Android/bin/Debug
/StarTrinity.CST/StarTrinity.CST/bin/Debug/netstandard2.0
/.vs
/Dcomms.Core/P2PTP/tt/VersionAndCompiledDateCs.cs
*.user
/StarTrinity.ContinuousSpeedTest/tt/VersionAndCompiledDateCs.cs
/StarTrinity.CST/StarTrinity.CST/tt/VersionAndCompiledDateCs.cs
/Dcomms.CryptographyTester/bin
/Dcomms.CryptographyTester/obj
/TestECDH/.vs/TestECDH
/TestECDH/TestECDH
/TestECDH/TestECDH.Lib/bin
/TestECDH/TestECDH.Lib/obj/Debug/netstandard2.0
/TestECDH/TestECDH.Lib/obj/Release/netstandard2.0
/TestECDH/TestECDH.Lib/obj
/Dcomms.NetCoreTester/bin/Debug/netcoreapp2.2
/Dcomms.NetCoreTester/obj
/Dcomms.NetCoreTester/bin/Release/netcoreapp2.2
/Dcomms.Core.Tests/bin
/Dcomms.Core.Tests/obj
