@model Dcomms.UserApp.LocalUser
@{
    ViewData["Title"] = "Add contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add new contact to account '@Model.UserAliasID'</h3>

<form asp-action="Add" style="max-width: 500px">
    <div class="form-group">
        Contact ID (visible for you only):
        <input asp-for="NewContactAliasID" class="form-control" />
        <span asp-validation-for="NewContactAliasID" class="text-danger"></span>
    </div>

    <div class="form-group" style="background-color: #EEE; padding: 10px">
        You send invitation key to another user <b>via secure channel</b>:
        <div style="border: 1px solid #777; margin-bottom: 10px; word-wrap: break-word">
            @{var locallyInitiatedInvitationKey = Model.NewContact_LocallyInitiatedInvitationKey_NewValueEveryTime; }
            @locallyInitiatedInvitationKey
        </div>

        <input type="hidden" asp-for="NewContact_LocallyInitiatedInvitationKey" value="@locallyInitiatedInvitationKey" />
        <input type="submit" value="Add contact" class="btn btn-primary" asp-route-initiated="locally" />
        &emsp;<a href="javascript:history.back()">Back</a>
    </div>

    <div class="form-group" style="background-color: #EEE; padding: 10px">
        You accept invitation key from another user:
        <input asp-for="NewContact_RemotelyInitiatedInvitationKey" class="form-control" placeholder="enter invitation key" />
        <span asp-validation-for="NewContact_RemotelyInitiatedInvitationKey" class="text-danger"></span>
        <br />

        <input type="submit" value="Accept invitation" class="btn btn-primary" asp-route-initiated="remotely" />
        &emsp;<a href="javascript:history.back()">Back</a>
    </div>

</form>

<div style="color: #666">
    <h4>How it works</h4>
    <ul>
        <li>User #1 creates contact, generates a temporary "invitation key"</li>
        <li>User #1 sends the "invitation key" to user #2 <b>via secure channel</b>: e.g. protonmail.com email, direct file transfer, bluetooth, direct meeting, etc</li>
        <li>User #2 creates contact, enters the "invitation key"</li>
        <li>Both users exchange keys and update contact books</li>
        @*<li>No one is able to send you contact requests if you don't add the contact yourself</li>*@
    </ul>
</div>
