<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dcomms Messenger T</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">             
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" >
                    <img src="~/Dmsg.png" style="max-height: 70px" />
                    Messenger "T" 
                </a>
               
                <span style="font-size: 0.7em">version @CompilationInfo.CompilationDateTimeUtcStr</span>
                &emsp;
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Chats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SystemLog" asp-action="Index">System log</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <table style="margin-right: auto; margin-left: auto; background-color: #FFF">
            <tr>
                <td>
                    <a href="http://dcomms.org" title="Dcomms project home page">
                        <img src="~/logo.png" style="max-height: 160px; margin-right: 30px" />
                    </a>
                </td>
                <td valign="top" style="opacity: 0.5">
                    &copy; <a href="http://dcomms.org">Dcomms.org</a> - <a href="https://github.com/dcomms/dcomms">open-source</a>, cross-platform, decentralized crypto messaging framework<br />
                    <a asp-controller="Home" asp-action="Privacy">Privacy</a><br />
                    <a asp-controller="SystemLog" asp-action="Index">System log</a>
                </td>
            </tr>
        </table>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
