<style>
    .itemButtons {
        margin-left: 5px;
        opacity: 0
    }
    .itemTitle:hover .itemButtons {
        opacity: 1;
    }

    .contactDiv {
        cursor: pointer;
    }

    .contactDiv:hover {
        background-color: #f8e493;
    }

    .contactDivSelected {
        background-color: #f8db69;
    }

  
</style>


@{
    ViewData["Title"] = "Dcomms Messenger T";
}

<div class="text-center" >
    <table>
        <tr>
            <td valign="top">
                <script type="text/javascript">
                    function loadMessages(contactId) {
                        $('#messagesPleaseSelectContact').css('display', 'none');
                        $('#messagesLoading').css('display', 'none');
                        $('#messagesPanel').css('display', 'none');
                        $('#messagesContactIsUnconfirmed').css('display', 'none');

                        if (contactId < 0) // if "temporary" contact
                        {
                            $('#messagesContactIsUnconfirmed').css('display', '');
                        }
                        else {
                            $('#messagesLoading').css('display', '');
                            $.getJSON('/XHR/Messages?contactId=' + contactId, function (r) {
                                var messagesList = $('#messagesList');
                                messagesList.html('');
                                $.each(r, function (i0, msg) {
                                    var msgDiv = $("<div/>");
                                    msgDiv.html(msg.Text);
                                    messagesList.append(msgDiv);
                                });
                                $('#messagesLoading').css('display', 'none');
                                $('#messagesPanel').css('display', '');
                            });
                        }
                    }

                    $(document).ready(function () {
                        $.getJSON('/XHR/LocalUsersAndContacts', function (r) {
                            $.each(r, function (i0, localUser) {
                                var userDiv = $("<div/>");
                                var userSpan = $('<span/>'); userSpan.attr('class', 'itemTitle');
                                var userA = $('<a/>');
                                userA.html(localUser.UserAliasID);
                                userA.attr('href', '/LocalUsers/Details/' + localUser.Id);
                                userA.attr('title', 'Your own account "' + localUser.UserAliasID + '"');
                                userSpan.append(userA);

                                var userButtonsSpan = $('<span/>'); userButtonsSpan.attr('class', 'itemButtons');
                                var addNewContactButton = $('<a title="Add new contact"><img src="/svg/add-contact.svg" style="height: 18px" /></a>');
                                addNewContactButton.attr('href', '/Contacts/Add/' + localUser.Id);
                                userButtonsSpan.append(addNewContactButton); 
                                var deleteButton = $('<a style="margin-left: 5px" title="Delete"><img src="/svg/delete.svg" style="height: 15px" /></a>');
                                deleteButton.attr('href', '/LocalUsers/Delete/' + localUser.Id);
                                userButtonsSpan.append(deleteButton);                
                                userSpan.append(userButtonsSpan);
                                userDiv.append(userSpan);
                                
                                var contactsDiv = $("<div></div>");
                                $.each(localUser.Contacts, function (i1, contact) {                                    
                                    var contactDiv = $('<div title="Select the contact to send/receive messages" style="padding-left: 20px" class="itemTitle contactDiv" />');
                                    contactDiv.append('<span><img style="margin-right: 3px; height: 18px" src="/svg/contact.svg" />' + contact.UserAliasID + '</span>');
                                    
                                    var contactButtonsSpan = $('<span/>'); contactButtonsSpan.attr('class', 'itemButtons');
                                    var detailsButton = $('<a title="Details"><img src="/svg/details.svg" style="height: 18px" /></a>');
                                    detailsButton.attr('href', '/Contacts/Details?userId=' + localUser.Id +'&contactId=' + contact.Id);
                                    contactButtonsSpan.append(detailsButton);
                                    var deleteContactButton = $('<a style="margin-left: 5px" title="Delete contact"><img src="/svg/delete.svg" style="height: 15px" /></a>');
                                    deleteContactButton.attr('href', '/Contacts/Delete/' + contact.Id);
                                    contactButtonsSpan.append(deleteContactButton); 
                                    contactDiv.append(contactButtonsSpan);
                                    
                                    contactDiv.click(function() {
                                        $('.contactDivSelected').attr('class', 'itemTitle contactDiv');
                                        contactDiv.attr('class', 'itemTitle contactDivSelected');
                                        loadMessages(contact.Id);
                                    });

                                    contactsDiv.append(contactDiv);
                                });
                           
                                userDiv.append(contactsDiv);

                                $('#leftPanel').append(userDiv);
                            });
                        });
                    });
                </script>
                <div style="min-width: 150px;  min-height: 470px; text-align: left; background-color: #FFF; padding: 10px; border-right: 1px solid #DDD" >                   
                    <div id="leftPanel"></div>
                    <div><a asp-action="Create" asp-controller="LocalUsers">create new account</a></div>
                </div>
            </td>
            <td valign="top" style="min-width: 300px">
                <div id="messagesPleaseSelectContact">
                    <span style="vertical-align: central; text-align: center">please select contact</span>
                </div>
                <div id="messagesContactIsUnconfirmed" style="display: none">
                    <span style="vertical-align: central; text-align: center">contact is not confirmed by remote side</span>
                </div>
                <div id="messagesLoading" style="display: none">
                    <span style="vertical-align: central; text-align: center">loading...</span>
                </div>

                <div id="messagesPanel" style="text-align: left; padding: 10px; display: none">
                    <div style="min-height: 400px;" id="messagesList">                      
                    </div>
                    <table>
                        <tr>
                            <td><textarea rows="2" cols="50" placeholder="Enter your message here"></textarea></td>
                            <td valign="bottom">&emsp;<a href="/">Send</a></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
