@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Dcomms decentralized messenger stores your personal data only at your own device. It communicates with other users via peer-to-peer network and sends messages over direct UDP channel, without servers.</p>
